/* #ffffff */

:root {
    --body: #000000;
    --test-border: #ff0000;
    --border: #21262D;
    --calculator: #d3d3d3;
    --result-screen: #ffcfb8;
    --result-font: #2B2B2C;
    --btn: #ece5e2;
    --btn-font: #2B2B2C;
    --clear-btn: #ff7676;
    --backspace-btn: #7678ff;
    --btn-height: 70px;
    --btn-font-size: 24px;
}

* {
    /* outline: 1px solid var(--test-border); */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: var(--body);
    color: var(--font);
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */

.calculator {
    width: 400px;
    border: 2px solid var(--border);
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
    display: flex;
    flex-direction: column;
}

.calculator-screen,
.buttons-top,
.buttons-bottom {
    display: flex;
}

/* RESULTS DISPLAY */
.calculator-screen {
    width: 100%;
    border: 2px solid var(--border);
    border-radius: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--result-screen);
    color: var(--result-font);
    height: 100px;
    padding: 10px 10px;
}

#result-display {
    font-size: 16px;
}

#working-display {
    font-size: 24px;
    font-weight: 600;
}

/* TOP BUTTONS GRID */
.buttons-top {
    width: 100%;
    padding: 10px 0px;
    gap: 10px;
    flex-direction: row;
    justify-content: space-evenly;
}

#clear-btn,
#backspace-btn {
    border: 2px solid var(--border);
    border-radius: 5px;
    width: 50%;
    height: var(--btn-height);
    font-size: var(--btn-font-size);
}

#clear-btn {
    background-color: var(--clear-btn);
}

#backspace-btn {
    background-color: var(--backspace-btn);

}

/* BOTTOM BUTTONS GRID */
.buttons-bottom {
    width: 100%;
    padding: 10px 0px;
    gap: 10px;
    /* flex-direction: column; */
    flex-wrap: wrap;
}

button {
    border: 2px solid var(--border);
    border-radius: 5px;
    background-color: var(--btn);
    flex: 1 0 20%;
    height: var(--btn-height);
    font-size: var(--btn-font-size);
}

