:root {
    --body: #010409;
    --test-border: #ff0000;
    --border: #21262D;
    --calculator: #0D1117;
    --result-screen: #ffcfb8;
    --result-font: #2B2B2C;
    --btn: #ffcfb8;
    --btn-font: #2B2B2C;
}

* {
    outline: 1px solid var(--test-border);
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: var(--body);
    color: var(--font);
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* MAIN */

.calculator {
    width: 350px;
    border: 2px solid var(--border);
    border-radius: 15px;
    padding: 20px;
    background-color: var(--calculator);
    display: flex;
    flex-direction: column;
}

.calculator-screen,
.buttons-top,
.buttons-bottom {
    display: flex;
}

/* RESULTS DISPLAY */
.calculator-screen {
    /* width: 100%; */
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    background-color: var(--result-screen);
    color: var(--result-font);
}

#result-display {

}

#working-display {

}

/* TOP BUTTONS GRID */
.buttons-top {
    width: 100%;
    flex-direction: row;
    justify-content: space-evenly;

}

#clear-btn,
#backspace-btn {
    width: 50%;
    background-color: var(--btn);
}

/* BOTTOM BUTTONS GRID */
.buttons-bottom {
    width: 100%;
    flex-direction: column;
}

.row {
    width: 100%
}

.btn {
    width: 20%;
    height: 40px;
    background-color: var(--btn);
}

